{% extends "base.html" %}

{% block content %}

{% if not kiosk %}
  {% include 'includes/update_bar.html' %}
{% endif %}

{% if show_tutorial %}
  <div id="tutorial">
    <div class="inner">
      <h1>Welcome to Maraschino</h1>
      <p>Just a few simple steps to get started:</p>
      <p>Please input your myPlex account info below, if you do not have one yet please <a href="https://plex.tv/users/sign_up" target="_blank">register here</a>.</p>
      <ul>
        <li><input id="myPlex_username" type="text" name="username" placeholder="myPlex username"></li>
        <li><input id="myPlex_password" type="password" name="password" placeholder="myPlex password"></li>
      </ul>
      <p> Or <a href="#" id="manual">add one manually</a></p>
      <div style="display: none;" class="manual-server">
        <ul>
          <li><input id="ip" type="text" name="ip" placeholder="Server IP Address"></li>
          <li><input id="port" type="text" name="port" placeholder="Server Port Address" value="32400"></li>
          <li><span class="btn" id="manual-save">Save Server</span></li>
        </ul>
      </div>
      <p>Need help? Visit <a href="https://github.com/gugahoi/maraschino/tree/plex" target="_blank">Maraschino for Plex Repo</a></p>
    </div>
  </div>
{% endif %}

<div id="wrapper" class="clearfix">

  {% with show_add = True %}

    {% for column in modules %}
      <div id="col{{ loop.index }}" class="col">
        {% with mods = modules[loop.index0] %}
          {% include "placeholders.html" %}
        {% endwith %}
      </div>
    {% endfor %}

  {% endwith %}

</div>

{% endblock %}
